<template>
  <div class="card">
    <center>
      <div class="img">
        <!-- <img :src="apprenant.Photo"> -->
      </div>
      <div class="text">
        <h2>{{apprenant.Prénom}} {{apprenant.Nom}}</h2>
        <span><i class="fas fa-phone"></i> {{apprenant.Tel}}</span><br>
        <span><i class="fas fa-at"></i> {{apprenant.Mail}}</span>
      </div>
    </center>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: ['apprenant']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.card{
  width: 20%;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 0px 0px 6px 6px ;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}

.img{
  background-color: black;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
}
.text{
  padding: 10px;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
</style>
