<template>
  <footer>
    <i class="fab fa-facebook-f "></i>
    <i class="fab fa-twitter "></i>
    <i class="fab fa-instagram "></i>
    <i class="fab fa-linkedin "></i>
    <i class="fab fa-youtube "></i>
    <i class="fab fa-snapchat-ghost "></i>
  </footer>
</template>

<script>
export default {
  name: 'bas'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
footer{
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
}

i{
  font-size: 40px;
  margin-left:20px;
}
</style>
