<template>
<header>
      <h1> Trombinoscope Simplon Cahors Promo 2</h1>
    </header>
</template>

<script>
export default {
  name: 'haut'
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

header{
  background-color: black;
  color: white;
  margin-top: -21px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
}
</style>
