<template>
  <div id="card">
   <haut/>
   <div class="boutons">
      <input type="text" v-model="search" name="recherche" placeholder="Rechercher un apprenant" class="recherche">
      <button class="Ajouter">Ajouter un apprenant</button>
    </div>
   <div class="display">
    <card v-for="item in filteredApprenants" :key="item.id" :apprenant="item" />
   </div>
   <bas/>
  </div>
</template>

<script>
import card from './components/Card'
import json from './components/data/apprenants.json'
import haut from './components/Header'
import bas from './components/Footer'

export default {
  name: 'App',
  components: {
    card,
    haut,
    bas
  },
  data () {
    return {
      apprenants: json,
      search:''
    }
  },
  computed: {
    filteredApprenants:function () {
      return this.apprenants.filter((apprenant)=>{
        let string = apprenant.Prénom + apprenant.Nom + apprenant.Tel + apprenant.Mail;
        return string.toLowerCase().match(this.search.toLowerCase());
      });
    }
  }
}
</script>

<style>
body{
  margin: 0px;
}

.display{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.boutons{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 20px;
}

.Ajouter{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recherche{
  padding: 10px;
  border-radius: 5px;
  border:none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
</style>
